header {
    text-align: center;
}

body { 
    background-color: lightpink;
    font-family: Arial, sans-serif;
    margin: 0;
}

.center{
    text-align: center;
}

.subheader {
    font-weight: bold;
    font-size: 20px;
}

.image {
    width: 50%;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.text {
    font-size: 16px;
}

.flex-container {
    display: flex;
    gap: 18px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: ligtgray;
    padding: 20px;
    margin: 10px;
}

.button {
    background-color: blue;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}

.footer {
    text-align: center;
}

#page-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

#middle-section {
    text-align: center;
}

#body-page2 {
    margin: 0;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
    margin: 0;
    padding: 12px;
    line-height: 1.5;
  }

  header {
    padding: 12px;
    text-align: center;
  }

  main {
    padding: 12px;
    margin: 0;
  }

  section {
    margin: 12px;
    padding: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: flex;
  }

  footer {
    margin: 12px;
    padding: 12px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .button {
    margin: 12px;
    padding: 12px;
  }

}

@media (max-width: 1024px) {
  body {
    font-size: 17px;
  }
}